* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  /*box-sizing: border-box;*/
  /*transition: all .3s;*/
}

*:focus {
  outline: none;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

em {
  font-style: normal;
}

ol, ul, li {

  padding: 0;
  margin: 0;
  display: block;

}

u, i {
  font-weight: normal;
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;

}

fieldset, img {
  border: 0;

}

html {
  width: 100%;
}

body {
  width: 100%;
  position: relative;
  font-size: 13px;
  background-color: #fff;
  overflow-x: auto;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body, html {
  height: 100%;

}

input, select, textarea {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  background: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:link {

  text-decoration: none;
}

a:visited {

  text-decoration: none;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-ovh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-break {
  word-break: break-all;
}

.bg-cover {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#app {
  height: 100%;
}

.main {
  margin: 0 auto;
}

[v-cloak] {
  display: none
}

.mt20 {
  margin-top: 20px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}
